<section id="about" class="about section">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>About</h2>
    <p>
      Hi there! 👋 I'm Prasun. I am a software engineer with almost 3 years of
      experience, working at ION Group. Our current project is the Fidessa
      equities & derivatives trading platform where I'm responsible for
      developing and maintaining the front-end (Angular) and adapter (C++)
      components. I have also interned at NRI Financial Technologies as a
      software developer, where I worked on their Human Resource Portal.
    </p>
    <p>
      Over the period my Software Engineering career, I've worked with multiple
      programming languages, libraries, frameworks, and technologies such as
      Angular, Node.js, JavaScript, C++, and Java. I have completed my B.E. in
      Information Technology from Netaji Subhas University of Technology. Where
      I've worked on two thesis, Face Mask Detection and Movie Recommender
      System using movie posters. I hope you have a lovely day!
    </p>
  </div>
  <!-- End Section Title -->

  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row gy-4 justify-content-center">
      <div class="col-lg-4">
        <img src="assets/img/sq-img.jpg" class="img-fluid" alt="" />
      </div>
      <div class="col-lg-8 content">
        <h2>Software Development Engineer.</h2>
        <p class="fst-italic py-3">Here are some of my details.</p>
        <div class="row">
          <div class="col-lg-6">
            <ul>
              <li>
                <i class="bi bi-chevron-right"></i> <strong>Email:</strong>
                <a href="mailto:royprasun1@gmail.com?Subject=Hi%20Prasun">
                  <span>royprasun1&#64;gmail.com</span>
                </a>
              </li>

              <li>
                <i class="bi bi-chevron-right"></i> <strong>Phone:</strong>
                <a href="tel:+918376829194">
                  <span>+91-8376829194</span>
                </a>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i>
                <strong>Current company:</strong>
                <a href="https://iongroup.com/">
                  <span href="">ION Group</span>
                </a>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i> <strong>University:</strong>
                <a href="http://nsut.ac.in/en/home">
                  <span>Netaji Subhas University of Technology</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-lg-6">
            <ul>
              <li>
                <i class="bi bi-chevron-right"></i> <strong>Birthday:</strong>
                <span>27 January 1999</span>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i> <strong>City:</strong>
                <span>Noida, India</span>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i> <strong>YOE:</strong>
                <span>3 years</span>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i> <strong>Degree:</strong>
                <span>Bachelors of Engineering</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /About Section -->
