<section id="contact" class="contact section">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Contact</h2>
    <p>You can contact me with the information below.</p>
  </div>
  <!-- End Section Title -->

  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row gy-4">
      <div class="col-lg-5">
        <div class="info-wrap">
          <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
            <a href="tel:+918376829194">
              <i class="bi bi-telephone flex-shrink-0"></i>
            </a>
            <div>
              <h3>Call Me</h3>
              <p>+91-8376829194</p>
            </div>
          </div>
          <!-- End Info Item -->

          <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
            <a href="mailto:royprasun1@gmail.com?Subject=Hi%20Prasun">
              <i class="bi bi-envelope flex-shrink-0"></i>
            </a>
            <div>
              <h3>Email Me</h3>
              <p>royprasun1&#64;gmail.com</p>
            </div>
          </div>
          <!-- End Info Item -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Contact Section -->
