<section id="portfolio" class="portfolio section light-background">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Portfolio</h2>
    <p>
      I have showcased some of my projects below, you can follow the link to
      know about them in detail.
    </p>
  </div>
  <!-- End Section Title -->

  <div class="container">
    <div
      class="isotope-layout"
      data-default-filter="*"
      data-layout="masonry"
      data-sort="original-order"
    >
      <!-- <ul
        class="portfolio-filters isotope-filters"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <li data-filter="*" class="filter-active">All</li>
        <li data-filter=".filter-app">App</li>
        <li data-filter=".filter-product">Product</li>
        <li data-filter=".filter-branding">Branding</li>
        <li data-filter=".filter-books">Books</li>
      </ul> -->
      <!-- End Portfolio Filters -->

      <!-- <div
        style="height: auto"
        class="row gy-4 isotope-container"
        data-aos="fade-up"
        data-aos-delay="200"
      > -->
      <div
        style="height: auto"
        class="row gy-4"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <!-- <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app"> -->
        <div class="portfolio-item filter-app">
          <div class="portfolio-content h-100">
            <img
              src="./assets/img/portfolio/TradingApp.png"
              class="img-fluid"
              alt=""
            />
            <div class="portfolio-info">
              <h4>Fidessa XTP Execution</h4>
              <p>
                Equities and derivatives trading front office solutions.<br />
                Tech Stack: Angular, C++, Node.js.
              </p>
              <a
                href="./assets/img/portfolio/TradingApp.png"
                title="Equities and derivatives trading front office solutions.<br /> Tech Stack: Angular, C++, Node.js."
                data-gallery="portfolio-gallery-app"
                class="glightbox preview-link"
                ><i class="bi bi-zoom-in"></i
              ></a>
              <a
                href="https://iongroup.com/products/markets/xtp-execution/"
                title="More Details"
                class="details-link"
                ><i class="bi bi-link-45deg"></i
              ></a>
            </div>
          </div>
        </div>
        <!-- End Portfolio Item -->

        <div class="portfolio-item filter-product">
          <div class="portfolio-content h-100">
            <img
              src="./assets/img/portfolio/HomePage.png"
              class="img-fluid"
              alt=""
            />
            <div class="portfolio-info">
              <h4>Crown Clothing WebApp</h4>
              <p>
                This is a sample application that demonstrates an E-commerce
                website using React Framework with FireBase as a database. The
                application loads products through the FireBase database and
                displays them.
                <br />Tech Stack - React, NodeJS, JavaScript, React Router,
                Redux, Express.js, Firebase.
              </p>
              <a
                href="./assets/img/portfolio/HomePage.png"
                title="This is a sample application that demonstrates an E-commerce
                website using React Framework with FireBase as a database. The
                application loads products through the FireBase database and
                displays them. <br /> Tech Stack - React, NodeJS, JavaScript, React Router,
                Redux, Express.js, Firebase."
                data-gallery="portfolio-gallery-product"
                class="glightbox preview-link"
                ><i class="bi bi-zoom-in"></i
              ></a>
              <a
                href="https://github.com/prasunroyy/crwn-clothing"
                title="More Details"
                class="details-link"
                ><i class="bi bi-link-45deg"></i
              ></a>
            </div>
          </div>
        </div>
        <!-- End Portfolio Item -->

        <div class="portfolio-item filter-branding">
          <div class="portfolio-content h-100">
            <img
              src="./assets/img/portfolio/FaceReconSS.png"
              class="img-fluid"
              alt=""
            />
            <div class="portfolio-info">
              <h4>Face Recognition App</h4>
              <p>
                This application takes an image as an input and marks the face
                on it. This is made possible through Clarifai API. User
                Authentication is implemented. This web-app uses React Framework
                with MySQL as a database. <br />
                Tech Stack - React, NodeJS, JavaScript, Express.js, MySQL.
              </p>
              <a
                href="./assets/img/portfolio/FaceReconSS.png"
                title="This application takes an image as an input and marks the face
                on it. This is made possible through Clarifai API. User
                Authentication is implemented. This web-app uses React Framework
                with MySQL as a database. <br />
                Tech Stack - React, NodeJS, JavaScript, Express.js, MySQL."
                data-gallery="portfolio-gallery-branding"
                class="glightbox preview-link"
                ><i class="bi bi-zoom-in"></i
              ></a>
              <a
                href="https://github.com/prasunroyy/facerecognitionbrain"
                title="More Details"
                class="details-link"
                ><i class="bi bi-link-45deg"></i
              ></a>
            </div>
          </div>
        </div>
        <!-- End Portfolio Item -->

        <div class="portfolio-item filter-books">
          <div class="portfolio-content h-100">
            <img
              src="./assets/img/portfolio/RoboHP.png"
              class="img-fluid"
              alt=""
            />
            <div class="portfolio-info">
              <h4>Simple search application.</h4>
              <p>
                This is a simple search application with the search domain shown
                in the form of cards.
                <br />Tech Stack - React, JavaScript, HTML, CSS.
              </p>
              <a
                href="./assets/img/portfolio/RoboHP.png"
                title="This is a simple search application with the search domain shown
                in the form of cards.
                <br />Tech Stack - React, JavaScript, HTML, CSS."
                data-gallery="portfolio-gallery-book"
                class="glightbox preview-link"
                ><i class="bi bi-zoom-in"></i
              ></a>
              <a
                href="https://github.com/prasunroyy/robofriends"
                title="Simple search application."
                class="details-link"
                ><i class="bi bi-link-45deg"></i
              ></a>
            </div>
          </div>
        </div>
        <!-- End Portfolio Item -->
      </div>
      <!-- End Portfolio Container -->
    </div>
  </div>
</section>
<!-- /Portfolio Section -->
